// Copyright (c) 2021 Patsagorn Y.
// 
// This software is released under the MIT License.
// https://opensource.org/licenses/MIT

const bot = require('../ainalbot/bot')
const logger = require('../ainalbot/logger')

// variable goes here

async function main() {
  // code goes here
}

module.exports = {
  id: '', // short unique non-spaced script name default to filename
  name: '',
  desc: ``,
  excluderegex: false,//i,
  run: main
}